* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #74c8d9;
  }
  
  body{  
    background: linear-gradient(to bottom right, white, #54f3e8);
    height:600px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'nav', 'main';
  }

  body > nav {
    grid-area: 'nav';
    background-color: #3b9db5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
  }
  
  body> nav > a > img > #logo{
   max-height: 50px;
   max-width: 50px;
   object-fit: contain;
   margin: auto;
   justify-content: flex-start;
 }
  
  body > main {
    grid-area: 'main';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8ECEB;
    padding: 20px;
    overflow-x: scroll;
  }
  
  body > main h1:first-child {
    margin-bottom: 50px;
  }
  
  nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav > a:hover:not(.active) {
    color: white;
    background-color: #91bec7;
  }
  
  nav > a.active {
    color: white;
    cursor: default;
  }

  #column-1{
    left:0px;
    top:0px;
    background:white;
    width:580px;
    height:200px;
    border-radius: 3px/3px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#1b6192;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  #new-form {
    display: flex;
    flex-direction: column;
    flex: repeat(2, minmax(10, 10rem));
    margin-left: 5px;
    padding-right: 40%;
  }
  
  #new-form *,
  #add-notes-form *,
  #add-groups-form *,
  #add-classes-form * {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }
  
  #new-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: 20px;
  }
  
  
  #list column-1:nth-child(2), #list column-1:nth-child(3){
    min-width: 100px;
  }
  
  #list a {
    border-radius: 0px;
    background-color: #91bec7;
    padding: 0px;
    text-decoration: none;
    font-size: 14px;
  }
  
  #list a:hover {
    background-color: white;
  }
  
  #show-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
  
  #show-page div:nth-child(even) {
    font-weight: bold;
  }
  
  #add-classes-form,
  #add-notes-form,
  #add-groups-form {
    display: grid;
    grid-template-columns: auto;
    grid-gap: auto;
    margin-bottom: 2rem;
  }
  
  #add-classes-form input[type="submit"],
  #add-groups-form input[type="submit"],
  #add-notes-form input[type="submit"]  {
    width: 10rem;
    grid-column: 2 / 3;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
  
  .login img {
    height: 30px;
    width: 30px;
  }

  .post{top:70px;
    right:600px;
    position:auto;
    width:600px;
    height:210px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:80px;
    padding: 10px;
    overflow-y: scroll;
    }
  .table{
    top:70px;
    right:600px;
    position:auto;
    width:600px;
    height:210px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:80px;
    padding: 10px;
    overflow-y: scroll;
    font-size: 12px black;
    
  }
  .item {
    height: 224px;
    width: 125px;
    flex-shrink: 0;
  }
  
  .item:not(:last-child) { margin-right: 10px; }

  nav>a>img{
    height: 30px;
    width: auto;
    display: inline-flex;
    justify-items: flex-start;
  }

  /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #91bec7;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
