<%- include('../partials/header') %>

<div class = "form">
  <form id="new-form" action="/notes/index"  style="width:75;left:0" method="POST">
    <label>Note name:</label>
    <input type="text" name="noteName">
    <label>Course:</label>
    <input type="text" name="courseName">
    <label>Group</label>
    <input type="text" name="groupName">
    <label>Text</label>
    <input type="text" name="text">
    <label>Subject</label>
    <input type="text" name="subject">
    <label>Private</label>
    <input type="checkbox" name="private" checked>
    <input type="submit">
  </form>
  <form action="/notes<%= /:id/ %>" method="DELETE">
    <button type="submit">Delete Note</button>
  </form>
</div>
<%- include('../partials/footer') %>
